# Ignorar archivos de Python compilados
*.pyc
*.pyo
__pycache__/

# Ignorar entornos virtuales
venv/
env/

# Ignorar archivos de configuración de IDEs
.vscode/
.idea/

# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Ignorar una carpeta específica
C:\Users\nsara\Desktop\naiara_thebridge\2503_dsft_thebridge_naiara\3-Machine_Learning\Open CV_taller

